<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 text-right">
        <div class="text-left p-5">
            <h3>ABOUT COMPANY</h3>
            <p><span class="text-danger"><b>Flycast (Unit of Mikros Kosmos Pvt. Ltd.) </b></span> established in November 2018 in Kolkata, India, got its 1st Incubation under Drishtycone in December 2018</p>
            <p><span class="text-danger mt-5"><b>Flycast</b></span> is one of the India leading performance drone companies.
            </p>
            <p>We are a team of pioneers, voyagers and storytellers</p>
            <p>
                Our diverse team has over 8 years’ experience within the UAV technology. We work with clients to unlock the most creative approach to telling their stories. We are flexible and collaborative. Whether we are working within a busy show environment or taking
                centre stage and flying solo the story and how we help tell it remains at the heart of what we do.
            </p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="../../assets/images/about/banner.jpg" alt="" class="img-fluid">
    </div>
</div>