#footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    /*height: 2.5rem;  */
    /* Footer height */
    background: black;
    color: white;
    padding: 10px;
    font-size: 15px;
}