<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <a class="navbar-brand" routerLink="/home" style="padding: 0">
        <img src="../../../assets/images/flycat-logo.png" alt="logo image" width="200" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse tab-nav-width other-nav-width mobile-nav-width" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active pointer-mark">
                <a class="nav-link" routerLink="/about">ABOUT</a>
            </li>
            <li class="nav-item pointer-mark">
                <a class="nav-link" routerLink="/solution">OUR SOLUTION</a>
            </li>
            <li class="nav-item pointer-mark">
                <a class="nav-link" routerLink="/buy">MY STORE</a>
            </li>
            <li class="nav-item pointer-mark">
                <a class="nav-link" routerLink="/training">TRAINING</a>
            </li>
            <li class="nav-item pointer-mark">
                <a class="nav-link" routerLink="/gallery">GALLERY</a>
            </li>
        </ul>
    </div>
</nav>