<!--navbar for aeronext start-->

<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="#" style="padding: 0">
        <img src="../assets/images/logo.png" alt="logo image" width="230" height="80">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse tab-nav-width other-nav-width mobile-nav-width" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active pointer-mark">
                <a class="nav-link" href="#">{{about}}</a>
            </li>
            <li class="nav-item pointer-mark">
                <a class="nav-link" (click)="solution()">{{ourSolution}}</a>
            </li>
            <li class="nav-item pointer-mark">
                <a class="nav-link" (click)="buy()">{{toBuy}}</a>
            </li>
            <li class="nav-item pointer-mark">
                <a class="nav-link" (click)="trainingFC()">{{training}}</a>
            </li>
            <li class="nav-item pointer-mark">
                <a class="nav-link" (click)="galleryFC()">{{gallery}}</a>
            </li>
        </ul>
    </div>
</nav> -->

<!--navbar for aeronext end-->
<router-outlet></router-outlet>
<!-- <footer id="footer" style="color: white;padding: 10px">
    © 2019 Aeronext Technology Developed by DrishtyCone
</footer> -->