<div class="container-fluid">
    <div style="text-align: center;padding: 62px">
        <h4>{{ourSolution}}</h4>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12" style="margin-bottom: 2%">
            <div class="text-center">
                <img class="card-img-top solution-images" src="../../assets/images/solution/fc-road.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{roadsAndHighway}}</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="margin-bottom: 2%">
            <div class="text-center">
                <img class="card-img-top solution-images" src="../../assets/images/solution/Railine.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{railways}}</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="margin-bottom: 2%;">
            <div class="text-center">
                <img class="card-img-top solution-images" src="../../assets/images/solution/CITY.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{city}}</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="margin-bottom: 2%">
            <div class="text-center">
                <img class="card-img-top solution-images" src="../../assets/images/solution/survey-and-mapping.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Survay and mapping</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="margin-bottom: 2%">
            <div class="text-center">
                <img class="card-img-top solution-images" src="../../assets/images/solution/EmergencySupply.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Emergency Supply</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="margin-bottom: 2%">
            <div class="text-center">
                <img class="card-img-top solution-images" src="../../assets/images/solution/AgriculturalDrone.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Agriculture</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="margin-bottom: 2%">
            <div class="text-center">
                <img class="card-img-top solution-images" src="../../assets/images/solution/Delivery.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Delivery</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="margin-bottom: 2%">
            <div class="text-center">
                <img class="card-img-top solution-images" src="../../assets/images/solution/firefighting.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fire Fighting</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 10px">
            <h5>{{droneCanShowForward}}</h5><br>
            <p>{{droneCanShowForwardDetails}}</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 10px">
            <img class="img-fluid" src="../../assets/images/solution/DRONESCANSHOWTHEWAYFORWARD.png" alt="drone can show forward" style="max-width: 100%;height: auto;">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 10px">
            <img class="img-fluid" src="../../assets/images/solution/NEWCITIES%20SAMEOLDPROBLEMS.gif" alt="city image" style="max-width: 100%; height: auto">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 10px">
            <h5>{{newCityOldProblem}}</h5><br>
            <p>{{newCityOldProblemDetails}}</p><br>
            <h5>{{oFDropCallsAndPowerCuts}}</h5><br>
            <p>{{oFDropCallsAndPowerCutsDetails}}</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 10px;margin-bottom: 5%">
            <h5>{{solar}}</h5><br>
            <p>{{solarDetails}}</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 10px">
            <img class="img-fluid" src="../../assets/images/solution/SOLAR.jpg" alt="solar image" style="min-width: 100%; height: auto">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 10px">
            <img class="img-fluid" src="../../assets/images/solution/DIGITIZING%20THE%20FLOW.png" alt="digital image" style="max-width: 100%; height: auto">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 10px">
            <h5>{{digitalFlow}}</h5><br>
            <p>{{digitalFlowDetails}}</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 10px">
            <h5>{{mining}}</h5><br>
            <p>{{miningDetails}}</p><br>
            <h5>{{whenProductivity}}</h5><br>
            <p>{{whenProductivityDetails}}</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 10px;">
            <h5>{{miningIsEasySolution}}</h5><br>
            <p>{{miningIsEasySolutionDetails}}</p><br>
            <h5>{{agriculture}}</h5><br>
            <p>{{agricultureDetails}}</p>
            <!-- <div>
         <img class="img-fluid" src="../../assets/images/solution/AGRICULTURE.png" alt="agriculture image"
              style="max-width: 100%; height: 20%;margin-left: 30%;">
       </div>-->
        </div>
    </div>
    <div style="text-align: center;padding: 62px">
        <h4>{{whatWeOffer}}</h4>
    </div>
    <div class="row" style="padding: 10px;margin-bottom: 10%">
        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px">
            <div class="box">
                <img class="img-fluid" src="../../assets/images/solution/analyse.jpeg" alt="analyse images" style="max-width: 100%; height: auto">
                <p>{{analyse}}</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px">
            <div class="box">
                <img class="img-fluid" src="../../assets/images/solution/developdrone.png" alt="develop images" style="max-width: 100%; height: auto">
                <p>{{develop}}</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px">
            <div class="box">
                <img class="img-fluid" src="../../assets/images/solution/deliver.jpg" alt="deliver drone images" style="max-width: 100%; height: auto">
                <p>{{deliver}}</p>
            </div>
        </div>
    </div>
</div>