<!-- <div class="container-fluid">
  <div style="text-align: center;padding: 62px"><h4>{{training}}</h4></div>
  <div class="row" style="background: whitesmoke; padding: 25px;">
    <div class="col-lg-3 col-md-3 col-sm-12" style="margin-bottom: 3%">
      <div class="card">
        <img class="img-fluid" src="../../assets/images/training/automation.jpg" alt="automation image"
             style="max-width: 100%;height: auto">
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12" style="margin-bottom: 3%">
      <div class="card">
        <img class="img-fluid" src="../../assets/images/training/UAV.jpg" alt="UAV image"
             style="max-width: 100%;height: auto">
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12" style="margin-bottom: 3%">
      <div class="card">
        <img class="img-fluid" src="../../assets/images/training/3D.jpg" alt="3D image"
             style="max-width: 100%;height: auto">
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12" style="margin-bottom: 3%">
      <div class="card">
        <img class="img-fluid" src="../../assets/images/training/IT-SOFTWARE.jpg" alt="IT image"
             style="max-width: 100%;height: auto">
      </div>
    </div>
  </div>
  <div id="automation" style="padding: 20px;">
    <h1>{{automationTraining}}</h1>
    <h5>{{projectObjective}}</h5>
    <p>{{projectObjectiveDetails}}</p>
    <div class="row" style="padding: 15px">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h5 style="text-align: center">{{whatYouWillReceive}}</h5>
        <ul>
          <li style="padding: 5px;">{{point1}}</li>
          <li style="padding: 5px;">{{point2}}</li>
          <li style="padding: 5px;">{{point3}}</li>
          <li style="padding: 5px;">{{point4}}</li>
          <li style="padding: 5px;">{{point5}}</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h5 style="text-align: center">{{whatYouWillBuild}}</h5>
        <ul>
          <li style="padding: 5px">{{automationBuildPoint1}}</li>
          <li style="padding: 5px">{{automationBuildPoint2}}</li>
          <li style="padding: 5px">{{automationBuildPoint3}}</li>
          <li style="padding: 5px">{{automationBuildPoint4}}</li>
        </ul>
      </div>
    </div>
    <h5>{{whatYouWillLearn}}</h5>
    <p>
      <span>{{automationLearnP1}}</span><br><br>
      <span>{{automationLearnP2}}</span><br><br>
      <span>{{automationLearnP3}}</span><br><br>
      <span>{{automationLearnP4}}</span>
    </p>
    <ul>
      <li style="padding: 5px">{{automationLearnPM1}}</li>
      <li style="padding: 5px">{{automationLearnPM2}}</li>
      <li style="padding: 5px">{{automationLearnPM3}}</li>
      <li style="padding: 5px">{{automationLearnPM4}}</li>
      <li style="padding: 5px">{{automationLearnPM5}}</li>
      <li style="padding: 5px">{{automationLearnPM6}}</li>
    </ul>
  </div>
  <div id="uav" style="padding: 20px">
    <h1>{{uavTraining}}</h1>
    <h5>{{projectObjective}}</h5>
    <p>{{uavProjectObjectiveDetails}}</p>
    <div class="row" style="padding: 15px">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h5 style="text-align: center">{{whatYouWillReceive}}</h5>
        <ul>
          <li style="padding: 5px;">{{workbench}}</li>
          <li style="padding: 5px;">{{buildToFly}}</li>
          <li style="padding: 5px;">{{enquiryAndDesign}}</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h5 style="text-align: center">{{whatYouWillBuild}}</h5>
        <ul>
          <li style="padding: 5px">{{workingAnimatronicHandProject}}</li>
          <li style="padding: 5px">{{uavBuildPoint1}}</li>
          <li style="padding: 5px">{{uavBuildPoint2}}</li>
          <li style="padding: 5px">{{uavBuildPoint3}}</li>
        </ul>
      </div>
    </div>
    <h5>{{whatYouWillLearn}}</h5>
    <h4>{{workbench}}</h4>
  </div>
</div>
 -->

<div class="container">
    <img src="../../assets/images/comingsoon.jpg" alt="" class="img-fluid">
</div>